* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
}
main {
  width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);
}
h1 {
  color: #34355b;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
}
.screen1 p,
button {
  font-family: "DM Sans", sans-serif;
}
.screen1 p {
  color: #34355b;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.4rem;
  margin-bottom: 2.6rem;
}
.screen1 img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.screen2 p {
  font-family: "Dancing Script", cursive;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  background: #e4edf1;
  text-align: center;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(85, 85, 85, 0.5);
  margin-top: 1.7rem;
  margin-bottom: 6rem;
  animation: show 2s 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
  /* remove transform for just a fade-in*/
  transform: rotateX(-90deg);
  transform-origin: bottom center;
}
.screen2 img {
  margin-bottom: 6rem;
}
button {
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.4rem;
  padding: 1.6rem;
  background: #ff9500;
  margin-left: 6rem;
  transition: background 0.3s;
}
button:hover {
  background: #bd6e00;
}
.hide {
  display: none;
}

/*ANIMATIONS*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}
